@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-color-reg {
    color: #495057;
  }
  .text-color-mute {
    color: #6d7080;
  }
  .text-color-green {
    color: #2f756c;
  }
  .text-style-bold {
    font-weight: 600;
  }
  .default-page-padding {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .default-page-padding-mobile {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .component-border {
    border: 1px solid #e9ebec;
    border-radius: 2px;
  }
  .field-border {
    border: 1px solid #ced4da;
    border-radius: 2px;
  }

  .button-bg-success-green {
    background: #00bd9d;
    opacity: 0.1;
  }
  .button-text-success-green {
    color: #00bd9d;
  }

  /* Responsive Global Classes */
  .bodyGridTemplate {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
  }
  .bodyGridTemplate-tablet {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
  }
}
